.revoke {
    margin-left: 10px;
    margin-bottom: 40px;
    padding: 10px;
    background-color: rgb(194, 230, 173);
    height: 60px;
    width: 800px;

}

.explore {
    margin-left: 10px;
    margin-bottom: 40px;
    width: 800px;

}

.mapping {
    background-color: rgb(245, 240, 240);
    border-style: solid;
    border-color: rgb(219, 213, 213);
}