.mappings {
    margin-left: 20px;
    margin-bottom: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header > div {
    margin:20px;
    margin-right: 40px;
}

.table-borderless td, .table-borderless th{
    border: 0;
    padding: 20px;
}

.options {
    padding: 20px;
}

.fieldMapping {
    padding: 20px;
}